@import "tailwindcss";
@import "@fontsource/courier-prime"; 
@import "@fontsource/courier-prime/400.css"; 
@import "@fontsource/courier-prime/400-italic.css"; 

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-courier_prime: var(--font-courier);
  --font-space_grotesk: var(--font-space);
  --font-arimo: var(--font-arimo);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  
}
